

nav ul
{
padding-left: 0;
margin-left: 0;
background-color: #036;
color: white;
float: left;
width: 100%;
font-family: arial, helvetica, sans-serif;
}

nav ul li a {
text-decoration: none;
}

nav ul li {
padding: 0.2em 1em;
background-color: #036;
color: white;
text-decoration: none;
float: left;
border-right: 1px solid #fff;
display: inline;
}

nav ul li a:hover{
background-color: #369;
color: #fff
}
nav a:link{
color: white;
}

nav a:visited{
color: white;
}